@media (min-width: 400px){
    p{
        font-size: 1.3em;
    }
}

@media (max-width: 300px){
    h1{
        text-align: center;
    }
}

.conteiner{
    @media(max-width: 200px){
        width: 90%;
    }
    @media(min-width: 200px and max-width: 400px){
        width: 80%;
    }
    @media(min-width: 400px){
        width: 390px;
    }

    @media screen {
        text-align: center;
    }
}

@media print{
    body{
        background: white;
    }
}

@media screen{
    body{
    background: #ddccaa;
    }
}

@media not color{
    .wikipedia-logo{
        display: none;
    }
}

/*funciona en los siguientes navegadores: Chrome,Edge,Firefox,Internet Explorer
Opera,Safari,Chrome android,Firefox Android,Opera android,Safari en IOS
Samsung Internet,WebView android*/

figure {
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 10px;
}
